body{margin: 0;}

hr{margin: 30px;}

.browse{background-image: url(calligraphia.jpeg);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100vw ;height:50vw ;}

h1 {color: aliceblue;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 40px;
text-align: center;
     padding-top: 24px;}

 ul {margin: 40;
    padding: 10;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    list-style-type: none;}  

 li{float: left;}

 li a{list-style-type: none;
    background-color:rgb(252, 249, 241);
    display: block;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 19, 20);} 

 li a:hover{list-style-type: none;
    text-decoration: none;
    color: aliceblue;
background-color: burlywood;}  
    
 h3{color: aliceblue;
    padding-top: 70px;
    font-size: 110px;
    padding-left: 50px;
    font-family: 'Courier New', Courier, monospace ;}
  
.about{text-align: center;
    background-color: aliceblue;
    padding-top: 40px;}

h2{font-size: 50px;
    color: rgb(57, 50, 30);}

p {font-size: 25px;
    font-family: cursive;
    margin: 60px;
    color: burlywood;}   
    
footer{background-color: rgb(59, 36, 28);
   color: aliceblue;
     text-align: center;
     font-size: 20px;
     padding-top: 60px;
     padding-bottom: 60px;
    font-family: cursive;}    